/* blur background image reference https://www.w3schools.com/howto/howto_css_blurred_background.asp */

body{
    margin:20px;
}

body::before{
    content:"";
     background-image: url("https://i.pinimg.com/originals/40/a0/38/40a0387d6bee4df3d1879a2fdd01eff0.jpg?nii=t");
     
     filter:blur(3px);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
}

.workspace{
    display: flex;
    gap:120px;
    justify-content: center;
    padding-left: 80px;
}
.features{
    width: 320px;
}
.eye-options{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}
/* .eye-options img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.nose-options img{
    width: 100px;
    height: 100px;
    object-fit: cover;
} */
.lip-options{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

/* .lip-options img{
    width: 100px;
    height:100px;
    object-fit: cover;
} */

.collage{
    width:800px;
}

#canvas{
    position: relative;
    width:800px;
    height:800px;
    border: 5px dashed darkblue;
    background-image: url("https://static.vecteezy.com/system/resources/previews/039/845/007/non_2x/placeholder-avatar-female-person-default-woman-avatar-image-gray-profile-anonymous-face-picture-illustration-isolated-on-white-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* .draggable{
    position: absolute;
} */

.element{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#deleteButton{
    padding: 10px 18px;
    margin-right: 10px;
    background-color: darkred;
    color:light yellowgreen;
    border: 2px dotted yellowgreen;
    font-size: 16px;
    cursor: pointer;
}

#clearButton{
    padding: 10px 18px;
    margin-right: 10px;
    background-color: darkgoldenrod;
    color:light darkred;
    border: 2px dotted darkred;
    font-size: 16px;
    cursor: pointer;
}

h1{
  text-align: center;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

h2{
    font-family: "Asimovian", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 3px dashed blueviolet;
    padding-bottom: 5px;
    margin-top: 30px;
}