body{
    margin:20px;
    background-image: url("https://i.pinimg.com/originals/40/a0/38/40a0387d6bee4df3d1879a2fdd01eff0.jpg?nii=t");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.workspace{
    display: flex;
    gap:50px;
}
.features{
    width: 400px;
}
.eye-options{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}
/* .eye-options img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.nose-options img{
    width: 100px;
    height: 100px;
    object-fit: cover;
} */
.lip-options{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

/* .lip-options img{
    width: 100px;
    height:100px;
    object-fit: cover;
} */

.collage{
    width:500px;
}

#canvas{
    position: relative;
    width:800px;
    height:800px;
    border: 2px solid black;
    background-image: url("https://static.vecteezy.com/system/resources/previews/039/845/007/non_2x/placeholder-avatar-female-person-default-woman-avatar-image-gray-profile-anonymous-face-picture-illustration-isolated-on-white-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* .draggable{
    position: absolute;
} */

.element{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#deleteButton{
    padding: 10px 18px;
    margin-right: 10px;
    background-color: darkred;
    color:light yellowgreen;
    border: 2px dotted yellowgreen;
    font-size: 16px;
    cursor: pointer;
}

#clearButton{
    padding: 10px 18px;
    margin-right: 10px;
    background-color: darkgoldenrod;
    color:light darkred;
    border: 2px dotted darkred;
    font-size: 16px;
    cursor: pointer;
}